@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+3670 123-4567</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>+3670 765-4321</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@bmerealteam.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@bmerealteam.com">Marketing@example.com</a></span>
    </p>
</section>

<section class="contact">
    <br>

    <address>
          <strong>BME Realty Manager Inc.</strong><br>
          Irinyi Jozsef utca 42.<br>
          Budapest, 1117<br>
          Magyarorszag<br>
          <abbr title="Phone">P:</abbr> +36(70) 123-4567
    </address>
   
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?oe=utf-8&amp;q=budapest+irinyi+jozsef+utca+42&amp;ie=UTF8&amp;hq=&amp;hnear=1117+Budapest,+Budapest+XI.+ker%C3%BClete,+Irinyi+J%C3%B3zsef+utca+42,+Magyarorsz%C3%A1g&amp;t=m&amp;z=14&amp;ll=47.473603,19.052878&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?oe=utf-8&amp;q=budapest+irinyi+jozsef+utca+42&amp;ie=UTF8&amp;hq=&amp;hnear=1117+Budapest,+Budapest+XI.+ker%C3%BClete,+Irinyi+J%C3%B3zsef+utca+42,+Magyarorsz%C3%A1g&amp;t=m&amp;z=14&amp;ll=47.473603,19.052878&amp;source=embed" style="color:#0000FF;text-align:left">Nagyobb térképre váltás</a></small>
</section>