@model RealtyManager.Models.Realty

@{
    ViewBag.Title = "Details";
}

<h2>
    <li>Address: @Model.Address</li>
    <li>Type:    @Model.Type</li>
    <li>Size:    @Model.Size</li>
</h2>
